---
import Base from '../layouts/base.astro';

var data = {
	"title": "About Lists of Things with Images",
	"cardcolor": "#fff"
};
---
<Base data={data}>
<p>Too frequently I find myself thinking, "I wanna look at all the sturgeons to find the coolest one to use for reference" or similar such whimsical thoughts, only to feel thoroughly disappointed when my internet search of, "List of all sturgeons with images" only hands me lists of very few limited sturgeons with images, or lists of all sturgeons without images. Likewise on the rare occassion that I DO find a nice list of sturgeons with images, I find myself thoroughly delighted!</p>
<p>Eventually I realized that I, as a web developer, am more than capable of supplying the world with lists of things with images (⌒ ▽ ⌒) ☆</p>
<p>Why am I doing this? I don't really get anything out of it. By the time I make my own list, chances are I don't need it anymore. But the thing is, maybe at some point there's someone else out there that happens to need a list of sturgeons with images, and will end up just as disappointed as me at the lack of one. I'm making these lists for them (◡ ‿ ◡ ✿)</p>
<p>I'm not a professional anything. I guess I'm a professional web developer, if working in web development for 5 years makes you a professional, but I'm certainly not a professional in any of the things I make lists of, so keep that in mind when viewing them (￣ ▽ ￣ *)ゞ I can't guarantee their scientific or otherwise correctness or their completion, I can only do my best and link to the sources I've used! If you're using my lists for anything academical, professional, or otherwise serious, please make sure to fact-check anything relevant yourself __φ (．．;)</p>
<p>Likewise, if you find any obvious errors, or have requests for a specific list of things with images, you're welcome to let me know... if you can find me ☆⌒(≧ ▽ °)</p>
<p>Making lists takes time, though, so please excuse if there aren't many yet, or if those that exists are still incomplete (I will attempt to always mark them as WIP in that case) 人(_ _ *) I hope to soon be able to present you all with a delicious vault of lists with images.</p>

</Base>

		

