---
import Base from '../layouts/base.astro';
import { getCollection } from 'astro:content';
const lists  = await getCollection('lists');

var data = {
	"title": "List of Lists of Things with Images",
	"cardcolor": "#fff"
};
---
<Base data={data}>
<ul>
	{lists.map(list=> (
		<li>
			<a href=`${Astro.site.href}${list.id}`>{list.data.data.title}</a>
		</li>
	))}
</ul>
</Base>

		

